@keyframes cambio{
    0%{margin-left: 0;}
    30%{margin-left: 0;}

    35%{margin-left: -100%;}
    65%{margin-left: -100%;}

    70%{margin-left: -200%;}
    100%{margin-left: -200%;}
}


.centrado{
    text-align: center;
    margin: 30px 200px;
}
.contenidoColumnas{
    display: flex;
    justify-content: space-around;
}
.space{
    margin: 35px 350px;
}
.itemCosta{
    flex-basis: calc(20% - 100px);
}

.tarjeta-lugares-costa{
    margin: 30px;
}
.tarjeta-lugares-costa img{
    width: 330px;
    height: 250px;
    border-radius: 3%;
    margin: 10px;
}
.tarjeta-lugares-costa a,p,h3{
    margin: 10px;
}
.tarjeta-lugares-costa:hover{
    transform: scale(1.03);
    transition: 0.5s;
}
.enlace a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color:#E9ADA3;
    margin: 30px;
    transition: 0.5s;
}
.enlace a:hover{
    font-size:23px ;
    cursor: pointer;
    color: #D5372F;
    transition: 0.5s;
}

/*Estilo nuevo de tours*/
.tours{
    margin: 40px 30px;
}
.tours h2{
    text-align: center;
    font-size: 45px;
}
.card_administrador{
    margin:10px 390px;
    padding: 20px 50px;
    border: 2px solid black;
    background-color:#FAF48C;
    border-radius: 30px;
    transition: 0.5s;
    display: block;
}
.card{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card p{
    width: 800px;
    margin:80px;
    font-size: 20px;
}
.card img{
    border-radius: 20px;
    width: 300px;
    box-shadow: 10px 20px 10px black;
}
.card li{
    margin-bottom: 10px;
    font-size: 20px;
}
.card h3{
    margin: 30px;
    text-transform: uppercase;
    font-size: 20px;
}
.card_administrador a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid black;
    font-weight: 700;
    transition: 0.5s;
}
.separar{
    margin-bottom: 40px;
    margin-top: 20px;
}
.card_administrador a:hover{
    background-color: #777AEE;
    transition: 0.5s;
}

/* Tabla Reclamos */
.card_reclamos{
    margin:10px 650px;
    padding: 20px 50px;
    border: 2px solid black;
    background-color:#FFC893;
    border-radius: 30px;
    transition: 0.5s;
    display: block;
    font-size: 24px;
}
.reclamo_boton a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid black;
    font-weight: 700;
    transition: 0.5s;
}
.reclamo_boton a:hover{
    background-color: #FFC893;
    transition: 0.5s;
}
.separardor_reclamo{
    margin-bottom: 10px;
    margin-top: 5px;
}
.separardor_reclamo select{
    width: 170px;
}
.separardor_reclamo textarea{
    width: 190px;
    height: 40px;
}
.tabla{
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 21px;
}
.card_reclamos input{
    font-size: 18px;
}
.diseñoEnviar input{
    width: 75px;
    height: 25px;
    border: none;
    border-radius: 6px;

    color: white;
    background-color: #A0A647;

    cursor: pointer;
    box-shadow: 0px 10px 10px #616161;
}
.diseñoEliminarbtn a{
    text-decoration: none;
    color: #FF2B2B;
    margin: 5px;
}
.diseñoModificarbtn a{
    text-decoration: none;
    color: #3FCB2C;
    margin: 5px;
}

.tamañoletraIngreso{
    font-size: 18px;
}

