.centrado{
    text-align: center;
}
.contenido-columnas{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenido-columnas h3{
    margin-top: 20px;
}

/*Ejercicio 1*/
main {
    font-size: 24px;
    margin-bottom: 50px;
}
.estilo-ejercicio1{
    background: #DBBE56;
    margin: 20px 450px 50px;
    border-radius: 10%;
    border: 2px solid black;
}
.estilo-boton{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}
.desplazamientoEjercicios a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid black;
    font-weight: 700;
    transition: 0.5s;
    margin: 10px;
}
.desplazamientoEjercicios a:hover{
    background-color: #CF6C7C;
    transition: 0.5s;
}

/*Ejercicio 2*/
.titulo{
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

.title{
    text-transform: uppercase;
    font-size: 30px;
    margin:0px 0px 0px 0px ;
    text-align: center;
}

.uno{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 40px 40px;
}

.img1{
    width: 250px;
    height: 250px;
    margin: 0px 50px 0px 0px;
}
.tarjetaEJR2{
    padding: 20px;
    background: #D3B2F5;
    border-radius: 10%;
    border: 2px solid black;
}

/*Ejercicio 3*/
.marco{  
    background: #E6D89E;
    margin: 40px 550px;
    border-radius: 20px;
    border: outset;
    padding-bottom: 30px;
}

.tamaniofont{
    font-size: 50px;
}

.padding-direccion{
    padding-top: 20px;
    padding-bottom: 20px; 
}

.padding-nosotros{
    padding-top: 20px;
    padding-bottom: 20px
}

.padding-2022{
    padding-top: 40px;
    padding-bottom: 40px; 
}

.centrado{
    text-align: center;
}

.logo-tamaño img{
    width: 300px;
    height: 200px;
    padding-bottom: 5px;
    border-radius: 20px;

}

