.imagen-slider{
    width: 100%;
    height: 720px;
    overflow: hidden;
    box-shadow: 5px 10px 10px black; 
}
.imagen-slider ul{
    display: flex;
    padding: 0;
    animation: cambio 15s infinite alternate linear;
    animation-timing-function: ease-in-out;
    width: 300%;
}

.imagen-slider li{
    width: 100%;
    height: 100%;
    list-style: none;
}

.imagen-slider img{
    width: 100%;
    height: 720px;
}

@keyframes cambio{
    0%{margin-left: 0;}
    30%{margin-left: 0;}

    35%{margin-left: -100%;}
    65%{margin-left: -100%;}

    70%{margin-left: -200%;}
    100%{margin-left: -200%;}
}




.centrado{
    text-align: center;
    margin: 30px 200px;
}
.contenidoColumnas{
    display: flex;
    justify-content: space-around;
}
.space{
    margin: 35px 350px;
}
.itemCosta{
    flex-basis: calc(20% - 100px);
}

.tarjeta-lugares-costa{
    margin: 30px;
}
.tarjeta-lugares-costa img{
    width: 330px;
    height: 250px;
    border-radius: 3%;
    margin: 10px;
}
.tarjeta-lugares-costa a,p,h3{
    margin: 10px;
}
.tarjeta-lugares-costa:hover{
    transform: scale(1.03);
    transition: 0.5s;
}
.enlace a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color:#E9ADA3;
    margin: 30px;
    transition: 0.5s;
}
.enlace a:hover{
    font-size:23px ;
    cursor: pointer;
    color: #D5372F;
    transition: 0.5s;
}
