*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
hr{
    margin-top: 10px;
}
#titulo-P{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 45px;
    text-transform: uppercase;
}
.slider ul{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    list-style: none;
}
.slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider__intro {
    display: block;
    flex-direction: column;
    align-items: center;
}
.slider__intro h2  {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
}
.slider__intro p{
    align-items: center;
    padding: 20px 40px;
    font-size: 20px;
}
.tours{
    margin: 40px 30px;
}
.tours h2{
    text-align: center;
    font-size: 45px;
}
.tours__card{
    margin:40px 60px;
    padding: 20px 50px;
    border: 2px solid black;
    background-color:#7AC96F;
    border-radius: 30px;
    transition: 0.5s;
    display: block;
}
.tours__card:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.tours__card h2{
    text-align: center;
    font-size: 30px;
}
.card{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card p{
    width: 800px;
    margin:80px;
    font-size: 20px;
}
.card img{
    border-radius: 20px;
    width: 300px;
    box-shadow: 10px 20px 10px black;
}
.card li{
    margin-bottom: 10px;
    font-size: 20px;
}
.card h3{
    margin: 30px;
    text-transform: uppercase;
    font-size: 20px;
}
.card a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid black;
    font-weight: 700;
    transition: 0.5s;
}
.card a:hover{
    background-color: #FAF5E0;
    transition: 0.5s;
}