*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color:#FAF5E0;
    padding: 170px 20px 1px;
}

header{
    width: 100%;
    height: 150px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 2px solid black;
    box-shadow: 5px 10px 10px black;
    z-index: 2;
}
header img{
    width: 100px;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 7px 14px 10px black ;
    margin-left: 40px;
    transition: 0.5s;
}
header img:hover{
    cursor: pointer;
    transform: scale(1.11);
    transition: 0.5s;
}

.boton{
    margin-left: -200px;
}

.boton form-nav{
    padding: 10px;
}
nav{
    padding-right: 10px;
    transform: translatex(40px);
}
nav a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color:#E9ADA3;
    margin: 30px;
    transition: 0.5s;
}
nav a:hover{
    font-size:23px ;
    cursor: pointer;
    color: #D5372F;
    transition: 0.5s;
}
hr{
    border-color: black;
    margin-bottom:20px ;
}


.tipotabla-iniciar{  
    background: #E6D89E;
    margin: 40px 550px;
    border-radius: 20px;
    border: outset;
    padding-bottom: 30px;
}
.tipotabla-iniciar h1,h3,p{  
    margin: 10px;
}

.tipotabla-registro{  
    background: #E6D89E;
    margin: 40px 400px;
    border-radius: 20px;
    border: outset;
    padding-bottom: 30px;
    padding-left: 20px;
}
.tipotabla-contactanos{  
    background: #E6D89E;
    margin: 40px 400px;
    border-radius: 20px;
    border: outset;
    padding-bottom: 30px;
    padding-left: 20px;
}
.tipotabla-contactanos p{  
    padding-left: 120px;
    margin-bottom: 10px;
}
.tipotabla-contactanos h3{  
    margin-top: 10px;
    margin-bottom: 20px;
}
.centrado{
    text-align: center;
}

.contenido-columnas{
    display: flex;
    justify-content: space-between;
}
.tipotabla-reservar{  
    background: #E6D89E;
    margin: 40px 400px;
    border-radius: 20px;
    border: outset;
    padding-bottom: 30px;
    padding-left: 20px;
}




footer{  
    border-radius: 20px;
    border: outset; 
}
#pie{
    background: #566D8D;
}
.item-footer{
    flex-basis: calc(50% - 50px);
    transform: translateY(25px);
}
.padding-direccion{
    padding-top: 20px;
    padding-bottom: 20px; 
}
.logos-tamaño a{
    color:black;
    text-decoration: none;
}
.item-footer{
    flex-basis: calc(50% - 50px);
    transform: translateY(25px);
}
.item-footer img{
    width: 30px;
    height:40px;
    padding-top: 10px;
    padding-bottom: 5px;
    
}
.padding-nosotros{
    padding-top: 20px;
    padding-bottom: 20px
}
.padding-2022{
    padding-top: 40px;
    padding-bottom: 40px; 
}
.padding-2022 a{
    color:black;
    text-decoration: none;
}