.imagen-slider{
	width: 100%;
	height: 720px;
	overflow: hidden;
    box-shadow: 5px 10px 10px black;
	

}

.imagen-slider ul{
	display: flex;
	padding: 0;
	animation: cambio 15s infinite alternate linear;
	animation-timing-function: ease-in-out;
	width: 300%;
}

.imagen-slider li{
	width: 100%;
    height: 100%;
	list-style: none;

}

.imagen-slider img{
	width: 100%;
	height: 720px;
	
}

@keyframes cambio{
	0%{margin-left: 0;}
    30%{margin-left: 0;}

    35%{margin-left: -100%;}
    65%{margin-left: -100%;}

    70%{margin-left: -200%;}
    100%{margin-left: -200%;}

}

.centrado{
	text-align: center;
	margin: 30px 200px;
}

.space{
	margin: 35px 350px;
}
header h1{
	color:#E9ADA3;
}
.contenidoColumnas{
	display: flex;
	justify-content: space-around;
}
.fotoSierra img{
	width: 330px;
	height: 250px;
	border-radius: 3%;
}
.itemSierra{
	flex-basis: calc(20% - 100px);
}


/*Estilo nuevo de tours*/
.tours{
    margin: 40px 30px;
}
.tours h2{
    text-align: center;
    font-size: 45px;
}
.tours__card{
    margin:40px 60px;
    padding: 20px 50px;
    border: 2px solid black;
    background-color:#5F4633;
    border-radius: 30px;
    transition: 0.5s;
    display: block;
}
.tours__card:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.tours__card h2{
    text-align: center;
    font-size: 30px;
    color: white;
}
.card{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card p{
    width: 800px;
    margin:80px;
    font-size: 20px;
    color: white;
}
.card img{
    border-radius: 20px;
    width: 300px;
    box-shadow: 10px 20px 10px black;
}
.card li{
    margin-bottom: 10px;
    font-size: 20px;
    color: white;
}
.card h3{
    margin: 30px;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
}
.card a{
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid black;
    font-weight: 700;
    transition: 0.5s;
    color: white;
}
.card a:hover{
    background-color: #F0D460;
    transition: 0.5s;
}


/*Modificadores de precios*/
.contenedor{
    margin: 10px;
}
.modificador{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modificador button{
    width: 30px;
    height: 50px;

    border: none;
    border-radius: 15px;

    color: white;
    background-color: #E9ADA3;

    font-size: 20px;
    font-weight: bold;

    cursor: pointer;
    box-shadow: 0px 10px 10px #616161;
}

.modifcador button:hover{
    background-color: #D5372F;
}

.valor{
    width: 50px;
    height: 50px;

    margin: 5px;
    box-shadow: 0px 10px 10px #616161;

    display: flex;
    justify-content: center;
    align-items: center;
}
.preciof{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.minimos p{
    text-align: center;
    margin-bottom: 10px;
}


